.row{
    background:gray;
    height:75px;
}

#addColor{
    background:blue;
    height:50px;
}

#boxOne{
    background:red;
    height:50px;
}
#wrapper{
    text-align:center;
    background:white;
    padding:30px;
    width:50%;

    
}
ul{
    list-style: none;

}