#wrapper {
    height: 55px;
    display: inline-block;
    background: black;
    padding-bottom: 15px;
    padding-top:15px;
    text-align:center;
    width:288px;

}

ul {
    list-style: none;
}

.row {
    background: gray;
}

/*li{*/
/*    color:black;*/
/*}*/